<script type="text/javascript">
  function theRotator() {
   $('div#rotator div').css({opacity: 0.0});
   $('div#rotator div:first').css({opacity: 1.0});
   setInterval('rotate()',4000);
  }

  function rotate() { 
   var current = ($('div#rotator div.show')? $('div#rotator div.show') : $('div#rotator div:first'));
   var next = ((current.next().length) ? ((current.next().hasClass('show')) ? $('div#rotator div:first') :current.next()) : $('div#rotator div:first')); 
   next.css({opacity: 0.0})
   .addClass('show')
   .animate({opacity: 1.0}, 1000);
   current.animate({opacity: 0.0}, 1000)
   .removeClass('show');
  };

  $(document).ready(function() { 
   theRotator();
  });
</script>

<style type="text/css">
 div#rotator div { position:absolute;}
</style>

<table width="1000"  height="485" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="820" height="423"   valign="top">
      <div id="rotator">
        <div class="show"><%= image_tag "1a.jpg" %></div>
        <div><%= image_tag "2a.jpg" %></div>
        <div><%= image_tag "3a.jpg" %></div>
        <div><%= image_tag "4a.jpg" %></div>
        <div><%= image_tag "5a.jpg" %></div>
      </div>
    </td>
    <td width="21" align="center" valign="top"></td>
    <td width="170" align="center" valign="top">

    <table width="100%" height="100%"   border="0" cellpadding="0" cellspacing="0" >
      <tr>
        <td width="16" height="207" align="left" valign="middle" bgcolor="#04466B" > 
          <table   width="90%"   align="center" cellpadding="0" cellspacing="0"    >
          <tr>
            <td valign="top">
         <a href="/registrazija-likvidazija" target="_self"  class="menu-pravoe" > Регистрация / ликвидация<br> предприятий всех организационно-правовых форм и их структурных подразделений</a>

            </td>
          </tr>
        </table><br></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td height="207" valign="middle" bgcolor="#404041" >


        <table   width="90%"   align="center" cellpadding="0" cellspacing="0"    >
          <tr valign="middle">
            <td> <a href="/jur-obslugivanie" target="_self"  class="menu-pravoe" >   Претензионно-исковая деятельность, юридический аутсорсинг, консультации</a>
            </td>
          </tr>
        </table>
        <br>


        </td>
      </tr>

      <tr>

      </tr>
    </table></td>
  </tr>
</table>
