<header>

  <div class="logo">
    <p>юридическая компания</p>
    <h1>AL GROUP</h1>
  </div>

  <div class="top">
    <%= link_to "о компании", page_path('about') %> / 
    <%= link_to "контактная информация", page_path('contacts') %>
    <div class="info">
      тел. +380 (067) 964 06 81, +380 (097) 529 74 06</br>
      <a href="mailto:info@algroup.com.ua">info@algroup.com.ua</a><br/>
    </div>
  </div>

  <div style="clear:both;"></div>

  <nav class="main">
    <ul>
     <li><%= link_to "Юридические услуги", page_path('services') %></li>
     <li><%= link_to "Регистрация/Ликвидация", page_path('registration_liquidation') %></li>
     <li><%= link_to "Бухгалтерское сопровождение", page_path('accounting') %></li>
     <li><%= link_to "Цены", page_path('prices') %></li>
    </ul>
  </nav>

</header>
